*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://i.pinimg.com/736x/4b/5a/01/4b5a01812ae6b0491d52f6c497ac2f75.jpg);
}
header 1[
  font-size: 28px;
]
nav{
  background-color: #2c9883;
}
header{
  background-color: #156c44;
  color: white;
  text-align: center;
  padding: 25px o;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
nav ul li a{
  text-decoration: none;
  color: white;
  padding: 15px 0;
  display: inline-block;
  transition: 0.3s ease;
}
main{
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}
section{
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: o 2px 8px;
}
section h2{
  margin-bottom: 20px;
  color: #2c9883;
}
form div{
  margin-bottom: 15px;
}
label{
  display: block;
  margin-bottom: 5px;
  font font-weight: bold;
}
input, select{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button:hover{
  background-color: rgb(38, 143, 108);
  color: #ccc;
}
button{
  padding: 10px 18px;
  background-color: #2c9883;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}
.job-card{
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  transition: 0.3s ease;
}
