*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://i.pinimg.com/736x/4b/5a/01/4b5a01812ae6b0491d52f6c497ac2f75.jpg);
}
header 1[
  font-size: 28px;
]
nav{
  background-color: #34495e;
}
header{
  background-color: #156c44;
  color: white;
  text-align: center;
  padding: 25px o;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
nav ul li a{
  text-decoration: none;
  color: white;
  padding: 15px 0;
  display: inline-block;
  transition: 0.3s ease;
}