*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://i.pinimg.com/1200x/e3/3f/44/e33f44a5fb269d81d8bb2850e3290d75.jpg);
}
header 1[
  font-size: 28px;
]
nav{
  background-color: #34495e;
}
header{
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 25px o;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
nav ul li a{
  text-decoration: none;
  color: white;
  padding: 15px 0;
  display: inline-block;
  transition: 0.3s ease;
}